.modal__container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: floralwhite;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: none;
}

.modal__container.active {
  display: block;
}

.modal__inner {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
table {
  border: 1px solid black;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: #101010;
}

thead {
  background-color: #ccc;
  width: 100%;
}

td {
  border: 1px solid black;
  padding: 4px;
}

.td__flex {
  display: flex;
  flex-direction: column;
  width: 6rem;
  align-items: center;
  justify-content: center;
}
.td__flex input {
  width: 50%;
}
.td__flex span {
  font-size: 1.5rem;
}
